.logo-nav {
    max-width: 5em;
}

.centralizado {
    margin-left: auto;
    margin-right: auto;
}

.vertical {
    margin-top: 1em;
}

.card-lista {
    max-width: 80em;
}

.foto {
    max-width: 25em;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 100%;
    /* max-width: 100%; */
    height: auto;
}

body {
	background: linear-gradient(-45deg, #141414, #2A2E2A, #454745, #A8ADA8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.carousel slider{
    height: 10em;
}
.d-block{

    height: 35em;
    
}
.link-light{
    text-decoration: none;
}