.logo-nav {
    max-width: 5em;
}

.centralizado {
    margin-left: auto;
    margin-right: auto;
}

.vertical {
    margin-top: 1em;
}

.card-lista {
    max-width: 80em;
}

.foto {
    max-width: 25em;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 100%;
    /* max-width: 100%; */
    height: auto;
}

body {
    background-color: #212529;
    opacity: 1;
    background-image: linear-gradient(30deg, #0d6efd 12%, transparent 12.5%, transparent 87%, #0d6efd 87.5%, #0d6efd), linear-gradient(150deg, #0d6efd 12%, transparent 12.5%, transparent 87%, #0d6efd 87.5%, #0d6efd), linear-gradient(30deg, #0d6efd 12%, transparent 12.5%, transparent 87%, #0d6efd 87.5%, #0d6efd), linear-gradient(150deg, #0d6efd 12%, transparent 12.5%, transparent 87%, #0d6efd 87.5%, #0d6efd), linear-gradient(60deg, #0d6efd77 25%, transparent 25.5%, transparent 75%, #0d6efd77 75%, #0d6efd77), linear-gradient(60deg, #0d6efd77 25%, transparent 25.5%, transparent 75%, #0d6efd77 75%, #0d6efd77);
    background-size: 50px 88px;
    background-position: 0 0, 0 0, 25px 44px, 25px 44px, 0 0, 25px 44px;
}